/* ESTRUTURA DO DASHBOARD */
body, html {
    height: 100%;
    margin: 0;
    background-color: #f4f6f9; /* Fundo cinza bem claro para destacar os cards */
}

#wrapper {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/* ESTILOS DO MENU LATERAL */
#sidebar-wrapper {
    min-width: 250px;
    max-width: 250px;
    background-color: #212529; /* Cor escura do Bootstrap */
    color: white;
    display: flex;
    flex-direction: column;
}

.sidebar-header {
    padding: 20px;
    font-size: 1.25rem;
    font-weight: bold;
    border-bottom: 1px solid #373b3e;
    text-align: center;
}

.sidebar-link {
    padding: 15px 20px;
    display: block;
    color: #adb5bd; /* Texto cinza claro */
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s;
}

.sidebar-link:hover {
    color: #ffffff;
    background-color: #343a40; /* Fica um pouco mais claro ao passar o mouse */
}

.sidebar-link i {
    margin-right: 10px;
    font-size: 1.1rem;
}

/* ÁREA DE CONTEÚDO (DIREITA) */
#page-content-wrapper {
    flex: 1;
    overflow-y: auto; /* Cria barra de rolagem apenas no conteúdo, o menu fica fixo */
}